@model EmployeeCrud.Models.Employee

@{
    ViewData["Title"] = "Add Employee";
}

<form asp-action="Add">
    <h1>Add an employee</h1>
  <div class="mb-3">
    <label for="Name" class="form-label">Name</label>
    <input asp-for="Name" type="text" class="form-control" id="Name">
  </div>
  <div class="mb-3">
    <label for="Department" class="form-label">Department</label>
    <input asp-for="Department" type="text" class="form-control" id="Department">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>